{% extends 'catalog/base.html' %}

{% block title %}Категории{% endblock %}
 {% include 'catalog/includes/inc_menu.html' %}
        <!-- Основное содержимое -->
{% block content %}
        <div class="container-fluid px-5 py-2 ms-6" style="margin-left: 250px;">
            <h1 class="mb-4 mt-3 d-flex justify-content-center">Категории</h1>
            <div class="row justify-content-center gx-4 py-2">
                <!-- Product Cards -->
                <div class="col-md-5 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Товар 1</h5>
                            <h3>$100</h3>
                            <p class="card-text">10 users included, 2 GB of storage,<br>Email support, Help center access</p>
                            <button class="btn btn-outline-danger w-100">Купить</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Товар 2</h5>
                            <h3>$100</h3>
                            <p class="card-text">10 users included, 2 GB of storage,<br>Email support, Help center access</p>
                            <button class="btn btn-outline-danger w-100">Купить</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Товар 3</h5>
                            <h3>$100</h3>
                            <p class="card-text">10 users included, 2 GB of storage,<br>Email support, Help center access</p>
                            <button class="btn btn-outline-danger w-100">Купить</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Товар 4</h5>
                            <h3>$100</h3>
                            <p class="card-text">10 users included, 2 GB of storage,<br>Email support, Help center access</p>
                            <button class="btn btn-outline-danger w-100">Купить</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Товар 5</h5>
                            <h3>$100</h3>
                            <p class="card-text">10 users included, 2 GB of storage,<br>Email support, Help center access</p>
                            <button class="btn btn-outline-danger w-100">Купить</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-5 mb-4">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">Товар 6</h5>
                            <h3>$100</h3>
                            <p class="card-text">10 users included, 2 GB of storage,<br>Email support, Help center access</p>
                            <button class="btn btn-outline-danger w-100">Купить</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
{% endblock %}