{% extends 'catalog/base.html' %}
{% block title %}{{ product.name|default:"Товар без названия" }}{% endblock %}

{% include 'catalog/includes/inc_menu.html' %}

{% block content %}
<div class="card mb-3">
  {% if product.image %}
    <img src="{{ product.image.url }}" 
         alt="{{ product.name }}" 
         style="height: 850px; object-fit: cover; width: 100%; object-position: center;">
  {% else %}
    <img src="https://via.placeholder.com/300x250?text=Нет+фото" 
         alt="Нет изображения" 
         style="height: 250px; object-fit: cover; width: 100%; object-position: center;">
  {% endif %}
  <div class="card-body">
    <h3 class="card-title">{{ product.name }}</h3>
    <p class="card-text">{{ product.description }}</p>
    <h5 class="card-title">КАТЕГОРИЯ: {{ product.category.name }}</h5>
    <h6 class="card-title">Дата поставки: {{ product.created_at }}</h6>
    <h6 class="card-title">Обновлено: {{ product.updated_at }}</h6>
  </div>
  <div class="card-footer d-flex gap-2">
    <button class="btn btn-secondary flex-fill" 
            onclick="window.location='{% url 'catalog:home' %}'">На главную</button>
    <button class="btn btn-warning flex-fill" 
            onclick="window.location='{% url 'catalog:update' pk=product.pk %}'">
        Редактировать
    </button>
      <button class="btn btn-danger flex-fill" 
            onclick="window.location='{% url 'catalog:delete' pk=product.pk %}'">
        Удалить
     </button>
    <button type="button" class="btn btn-primary flex-fill" 
            data-bs-toggle="tooltip" 
            data-bs-placement="top" 
            data-bs-title="Купить сейчас за {{ product.purchase_price }} руб?">Купить</button>
  </div>
</div>
{% endblock %}